<div class="stage">
	<header id="header" data-template="stage-header">
		<div id="header-inner">
			<div class="container container-pod container-pod-short">
				<h1 class="header-logo">
					<a href="/#/index" rel="nofollow"></a>
				</h1>
				 <nav class="navigation" role="navigation">
					<ul>
						<li>
							<a href="/statistic.html">Measure</a>
						</li>
						<li>
							<a href="/pages/enterprise">Trend</a>
						</li>
					</ul>
				</nav> 

			</div>
		</div>
	</header>
	<div id="container" class="clearfix">
		<div class="container container-pod shorten-container">
			<h1 class="page-title t-center">SHORTEN.ME</h1>
			<div class="join-bitly t-center">This page only for test and study</div>

			<div id="form_container" class="t-center mid-container foot-room">
				<form name="shortenUrl" id="unAuthShortenForm">
					<fieldset class="cf">
						<input id="shorten_url" ng-model="indexCtrl.longLink" taborder="1" name="url" type="url" class="shorten-input" placeholder="Paste a link to shorten it" value="" autocomplete="off" autocorrect="off" autocapitalize="off" />
						<input id="shorten_btn" ng-click="indexCtrl.makeShorten()"type="button" class="button button-primary button-large shorten-button" value="Shorten" />
					</fieldset>
				</form>
				<div id="shorten_actions"></div>
			</div>

			<div class="link-container mid-container">
			<div id="shortened_info">
			    <ul id="most_recent_link" class="anon_history footroom">
			        <li id="1eMuJXl" class="shortened_link" data-user_hash="1eMuJXl" data-short_link="http://bit.ly/1eMuJXl" style="display: list-item; opacity: 1; overflow: hidden;">
			            <div class="unauth-title">
			                <a class="article-title" href="{{ indexCtrl.longLink }}">{{ indexCtrl.longLinkTitle }}</a>
			            </div>
			            <div class="unauth-title-url">
			                <a class="article-title smaller" href="{{ indexCtrl.longLink }}">{{ indexCtrl.longLinkOrigin }}</a>
			            </div>
			            <div class="unauth_capsule clearfix">
			                <a class="short-url" target="_blank" href="{{ indexCtrl.shortLink }}">{{ indexCtrl.shortLink | rmvProtocol}}</a>
			                <input id="copy-input"  value="{{ indexCtrl.shortLink }}" tabindex="-1" readonly="" style="display: none;">
			                <a ng-click="indexCtrl.makeCopy()" class="copy button primary" data-clipboard-target="#copy-input">Copy</a>
			            </div>
			        </li>
			    </ul>
			</div>
			</div>

			<div class="link-container mid-container">
				<div id="shortened_info">
					<ul id="most_recent_link" class="anon_history footroom"></ul>
				</div>
				<div>
					<ul id="anon_history" class="anon_history"></ul>
				</div>
			</div>
		</div>
		<div id="bottom">
			<form action="" method="get">
				<input type="hidden" name="_xsrf" value="f799c2cbc9de4aafa21ae166965b2501"/>
			</form>
		</div>
	</div>

	<div id="page-home-link-shortener" class="stage-pod stage-pod-dark">
		<div class="container container-pod">
			<div id="page-home-link-shortener-counter"></div>
		</div>
	</div>

	<footer id="footer" role="contentinfo" data-template="stage-footer">
		<section class="stage-pod">
			<div class="container container-pod t-center">
				<div class="footer-links">
					<ul id="menu-footer-menu" class="nav footer-nav clearfix">
						<li>
							<a href="https://www.google.com.vn/">Blog</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Support</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Contact</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Developers</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Privacy Policy</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Terms Of Service</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Partners</a>
						</li>
						<li>
							<a href="https://www.google.com.vn">Careers</a>
						</li>
					</ul>
				</div>
				<div class="footer-attribution">
					<a href="/#/index" class="footer-logo"></a>
				</div>
				<ul class="footer-social-links">
					<li class="footer-social-link footer-social-link-facebook">
						<a href="http://www.facebook.com/" target="_blank"></a>
					</li>
					<li class="footer-social-link footer-social-link-twitter">
						<a href="http://twitter.com/" target="_blank"></a>
					</li>
					<li class="footer-social-link footer-social-link-linkedin">
						<a href="http://www.linkedin.com/" target="_blank"></a>
					</li>
					<li class="footer-social-link footer-social-link-instagram">
						<a href="http://instagram.com/" target="_blank"></a>
					</li>
				</ul>
				<div class="footer-attribution">
					<p class="small source-org copyright flush-bottom">
						Shorten.me (Only for test)&nbsp;&nbsp;
					</p>
				</div>
			</div>
		</section>
	</footer>
</div>
